	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Bem Vindo a SHX</title>
	<meta charset="utf-8">
	<script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript"></script>

	<script type="text/javascript">
	</script>

	<body>
	<h1>Locação de Veículos SHX</h1>
	<table>
	    <tr>
			<form action="http://localhost:8080/cliente/cadastro">
    			<input type="submit" value="Ver Clientes"/>
			</form>
			
			<form action="http://localhost:8080/carro/cadastro">
    			<input type="submit" value="Ver Carros"/>
			</form>
	    </tr>
	</table>
</body>

	